<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดคำขอเปิดโครงการ</title>
    <link rel="stylesheet" href="styles/detailrequest.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="styles/sidebar.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="src/sidebar_scripts.js"></script>


    <script src="sweetalert2.all.min.js"></script>
    <script src="src/detailrequest.js"></script>




</head>

<body style="font-family: 'Sarabun', sans-serif;">

    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="img/befriend-web_icon.png" width="50%" height="35%" id="webicon">
                <h3 style="text-align: center;">BEFRIEND</h3>
                <hr style="color: black; size: 8px; width: 90%;">
            </div>
            <ul class="list-unstyled components">
                <li><a href="/request" class="active"><span><img src="img/mail.png" width="20px"></span>
                        ข้อมูลคำขอ</span></a></li>
                <li><a href="/allproject"><span> <img src="img/project.png" width="20px"></span>
                        โครงการ</a></li>
                <li><a href="#"><span><img src="img/auction.png" width="23px"></span> การประมูล</a></li>
                <li><a href="/auntion_organiz"><span><img src="img/home.png" width="23px"></span>
                        การประมูลขององค์กร</a></li>
                <li><a href="#"><span><img src="img/delivery-truck.png" width="23px"></span>
                        สถานะสินค้า</a></li>
                <li><a href="./admin_login.html"><span><img src="img/logout.png" width="23px"></span>
                        ออกจากระบบ</a></li>
                <br><br><br>
                <hr style="color: black; size: 8px; width: 80%; vertical-align: end;">
                <li style="text-align: center;">
                    <h4><span><img src="img/user.png" width="50px"></span>
                        Kun Run</h4>
                </li>
            </ul>

        </nav>
        <!-- Page content wrapper-->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <p id="headertext">แบ่งปันความสุขให้น้องๆเนื่องในวันเด็ก</p>
                        <p id="datetext">วันที่ส่งเรื่องในการขอเปิดโครงการ : <span id="daterequest">22/01/2565</span>
                        </p>
                        <div class="container-fluid" style="background-color: rgb(231, 233, 235); border-radius: 10px;">
                            <p style="font-weight: 500; font-size: 25px;">ข้อมูลโครงการ
                            <p>
                                <br>
                            <p style="font-weight: 600; font-size: 17px;">ประเภทโครงการ : <span
                                    style="font-weight: 400; font-size: 17px;" id="type_project">เยาวชน , ผู้สูงอายุ ,
                                    ผู้พิการ</span></p>
                            <br>
                            <p style="font-weight: 600; font-size: 17px;">คำอธิบายโครงการ</p>
                            <p id="donate_description">ร่วมสมทบเงินบริจาคค่าอาหาร ทุนการศึกษาให้กับเด็กๆ
                                ผู้พิการทางสายตาและพาผู้สูงวัยไปร่วมทำกิจกรรมอบข้าวสารอาหารแห้ง
                                ผ่านทูลนิธิธรรมมิกชนเพื่อคนตาบอดในประเทศไทย จังหวัดเพชรบุรี
                                และโรงเรียนการศึกษาเด็กตาบอดพิการศ้ำศ้อนชะอำ</p>
                            <br>
                            <p style="font-weight: 600; font-size: 17px;">พื้นที่ดำเนินโครงการ</p>
                            <p id="donate_area">1.มูลนิธีกรรมิกชน เพื่อนคนตาบอดในประเทศไทย ในพระราชูปถัมภ์
                                <br>2.โรงเรียนการศึกษาเด็กตาบอดพิการซ้ำซ้อน ชะอำ
                            </p>
                            <br>
                            <p style="font-weight: 600; font-size: 17px;">ระยะเวลาโครงการ <span id="startdate">07 ก.พ.
                                    2565</span> ถึง <span id="enddate">11 ธ.ค. 2565</span></p>
                        </div>

                        <div class="container-fluid" style="background-color: rgb(231, 233, 235); border-radius: 10px;">
                            <br>
                            <p style="font-weight: 600; font-size: 17px;">ปัญหาสังคมและวิธีการแก้ไขปัญหา</p>
                            <p id="donate_reason">สืบเนื่องจาก ภาวะโรคระบาด COVID 19 ที่ผ่านมา
                                ผู้สูงอายุขาดการติดต่อกับสังคมจึงทำให้เกิดภาวะซึมเศร้า และมองตนเองว่าไม่มีคุณค่าต่อสังคม
                                ทางชมรมฯจึงได้จัดกิจกรรมเพื่อให้ผู้สูงอายุได้มีส่วนร่วมทางสังคม
                                และรู้จักการแบ่งปันต่อผู้ด้อยโอกาส จึงเกิดเป็นกิจกรรมผู้สูงอายุไปร่วมทำกิจกรรม
                                นำเงินไปบริจาคค่าอาหารและทุนการศึกษา มอบแด่น้องๆรวมถึงการมีส่วนร่วมนำข้าวสารอาหารแห้ง
                                ที่ตนมีมาเป็นส่วนหนึ่งสำหรับการบริจาคด้วย ซึ่งในภาวะปัจจุบัน
                                ทางโรงเรียนมีค่าใช้จ่ายไม่สัมพันธ์กับรายรับ แม้จะได้รับเงินสนับสนุนจากภาครัฐบางส่วน
                                ก็ทำให้ประสบปัญหาด้านการดำเนินการและด้านสาธารณสุข สุขอนามัยของน้องๆมาก
                                จึงขอให้ผู้มีเมตตาเป็ยสะพานบุญร่วมระดมทุนบริจาคในครั้งนี้
                                <br><br>โครงการนี้มีเป้าหมายเพื่อต้องการให้ผู้สูงอายุ
                                และประชาชนทั่วไปรู้จักการแบ่งปันคือสู่สังคมกับผู้ด้อยโอการกว่า
                                เมื่อสังคมน่าอยู่ชีวิตของเราก็มีความสุขด้วย <br><br> กิจกรรมมีวัตถุประสงค์อยู่ 2
                                ประการดังนี้
                                <br><br> 1.ฝึกหล่อหลอมสังคม การเป็นผู้ให้ แบ่งปันความสุขแก่ผู้อื่น
                                เมื่อสังคมมีผู้ให้เยอะขึ้นสังคมก็จะน่าอยู่ยิ่งขึ้น <br> 2.พัฒนาคุณภาพชีวิต ด้านสุขภาพ
                                สุขอนามัยของผู้พิการตาบอดให้ดีขึ้นในภาวะโรคระบาดในปัจจุบัน
                                โดยไม่ทอดทิ้งพวกเขาให้เป็นภาระต่อสังคม
                            </p>

                            <div class="container-fluid">
                                <div class="justify-content-center" id="picarea"></div>
                            </div>
                            <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="img/พิการ.jpg" width="100%">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="img/older2.jpg" width="100%">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                              </div> -->
                        </div><br>

                        <h2>รายละเอียดการเงิน</h2>
                        <table id="requesttable" class="table table-bordered table-hover"
                            style="width: 100%; text-align: center;"></table>
                        <br><br><br>
                        <div style="text-align: end;">
                            <h4>รวมเป็นเงินทั้งหมด : <span id="money_project">217,000</span></h4>
                            <h4>ค่าธรรมเนียมของบีเฟรน(10%) : <span id="money_company">21,700</span></h4>
                            <br>
                            <h4>ยอดระดมทุน : <span style="font-weight: bold;" id="money_allproject">238,700</span></h4>
                            <br>
                            <div>
                                <button id="btnnonapprove" class="btn">ไม่อนุมัติ</button>
                                <button id="btnapprove" class="btn">อนุมัติ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card p-3">
                            <p id="textowner">ข้อมูลเจ้าของโครงการ</p>
                            <p>ชื่อ: <span id="donate_owner">นาง พิสมัย มั่งมี</span></p>
                            <p>เสนอโครงการในนาม: <span id="donate_response">บุคคลทั่วไป</span> </p>
                            <p>ที่อยู่ที่สามารถติดต่อได้</p>
                            <p id="donate_address">41/85 หมู่ 2 ตำบล โคกอีเลิ้ง อำเภอในเมือง จังหวัดอุดรธานี 54000</p>
                            <p>เบอร์ติดต่อ: <span id="donate_phone">028515474</span></p>
                            <p>อีเมล์ : <span id="donate_email">pisamai@kagoo.com</span></p><br>
                            <a>เอกสารยืนยัน</a><br>
                            <p style="text-align: end; font-size: 14px; font-weight: 300;"> <a id="showpersonalcard"
                                    href="img/personalcard.png" target="_blank">บัตรประชาชน</a></p>
                            <img src="img/personalcard.png" style="justify-content: center;" width="100%"
                                id="personalcardimage"><br>
                            <p style="text-align: end; font-size: 14px; font-weight: 300;"><a id="showbankaccount"
                                    href="img/bookbank.png" target="_blank">หน้าสมุดบัญชี</a></p>
                            <img src="img/bookbank.png" width="100%" id="bankaccountimage">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalreason" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">เหตุผลที่ไม่อนุมติโครงการ</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="font-weight: 400; font-size: 16px;">เหตุผลที่ไม่อนุมัติ : </p>
                    <textarea id="reasonunapprove" cols="60" rows="5"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="unapproveproject">Save</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>