<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="src/login.js"></script>
    
</head>

<body style="font-family: 'Sarabun', sans-serif;">
    <!-- <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-10 col-xl-9 mx-auto" >
                <img  src="img/icons/children_login.png" >
            </div>
            <div class="col-md-6 d-none d-md-flex">
                    <div class="container">
                        <h1 id="logintext">Login</h1>
                        <input type="text" id="txtusername" placeholder="Username">
                        <input type="text" id="txtpassword" placeholder="Password">
                        <button type="button" class="btn" id="btnlogin">Login</button>
                    </div>
            </div>
        </div>

    </div> -->
    <div class="container-fluid " >
        <div class="row align-items-center vh-100">
            <div class="col-lg-10 col-xl-9 mx-auto" >
                <div class="card flex-row my-5   border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex" >
                        <!-- background image  -->
                        
                    </div>
                    <div class="card-body p-5 p-sm-5 mx-5">
                        <h2 class="card-title mb-2  fs-5" style="font-weight: 600;">SIGN IN</h2>
                        <h5 class=" mb-4 fw-light fs-5">with BEFRIEND</h5>
                        <hr class=" mb-5 fw-light fs-5">
                        <div class="form-floating mb-4">
                            <label for="txtusername">Username</label>
                            <input type="text" class="form-control" id="txtusername" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-floating mb-5">
                            <label for="txtusername">Password</label>
                            <input type="password" class="form-control" id="txtpassword" placeholder="Password" >
                        </div>
                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-warning btn-login fw-bold text-uppercase" type="submit" id="btnlogin">SIGN IN</button>
                          </div>

                    </div>


                </div>

            </div>

        </div>

    </div>
      
</body>

</html>