<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>การประมูลขององค์กร</title>

    <link rel="stylesheet" href="styles/auctionorganiz.css">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

        <script src="src/allproject.js"></script>
        
</head>
<body style="font-family: 'Sarabun', sans-serif;">
     <!-- Vertical Navbar -->
     <div class="vertical-nav mt-1" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column mt-4">
                <img src="img/befriend-web_icon.png" width="33%" height="35%" id="webicon">
                <h3 style="text-align: center;">BEFRIEND</h3>
                <hr style="color: black; size: 8px; width: 80%;">
                <li><a href="/request" class="active"><span><img src="img/mail.png"
                                width="20px"></span>
                        ข้อมูลคำขอ</span></a></li>
                <li><a href="/allproject"><span> <img src="img/project.png" width="20px"></span>
                        โครงการ</a></li>
                <li><a href="#"><span><img src="img/auction.png" width="23px"></span> การประมูล</a></li>
                <li><a href="/auntion_organiz"><span><img src="img/home.png" width="23px"></span>
                        การประมูลขององค์กร</a></li>
                <li><a href="#"><span><img src="img/delivery-truck.png" width="23px"></span>
                        สถานะสินค้า</a></li>
                <li><a href="./admin_login.html"><span><img src="img/logout.png" width="23px"></span>
                        ออกจากระบบ</a></li>
                <br><br><br>
                <hr style="color: black; size: 8px; width: 80%; vertical-align: end;">
                <li style="text-align: center;">
                    <h4><span><img src="img/user.png" width="50px"></span>
                        Kun Run</h4>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-content p-5" style="padding: 15px">
        <div class="container-fluid">
            <button id="btnlistauction"  class="btn">รายการเปิดประมูล</button>
            <button id="btnopenauction"  class="btn">เปิดประมูล</button>
        </div>


        <div class="container" >
            <div id="btnallauction" class="d-flex flex-column" >
                <button style="border-radius: 0em;" class="btn">
                    <img src="img/Box.png" class="img">
                <p>ทั้งหมด</p>
                </button>
            </div>
            
            <div id="btndelivery" class="d-flex flex-column">
                <button style="border-radius: 0em;" class="btn">
                    <img src="img/Delivery Truck.png" class="img">
                    <p>ที่ต้องจัดส่ง</p>
                </button> 
            </div>
        </div>
        <p>กรอกข้อมูลรายละเอียดสินค้า</p>

        
        
      <div class="open-auction">
        <div class="d-flex flex-column" style="width: 50%">
            <form>
                <div class="name-form">
                    <label for="itemname">ชื่อสินค้า</label> 
                    <input type="text"  id="itemname" class="form-control">

                 </div>
                 <div class="price-form">
                     <label for="">ราคาเริ่มต้น</label>
                    <input type="number" id="pricestart" class="form-control" min="0">
                 </div>
               
                <div class="pricedelivery-form">
                    <label for="pricedelivery">ราคาการขนส่งสินค้า</label>
                   <input type="number" id="pricedelivery" class="form-control" min="0">
                </div>
                <div class="pricedelivery-form">
                    <label for="itemdetail">รายละเอียด</label>
                    <div class="d-flex flex-column">
                        <input type="text" id="itemdetail" placeholder="แสดงรายละอียดสินค้า" class="form-control">
                        <input type="text" id="itemsize" placeholder="ขนาด ex.กว้าง*ยาว*สูง" class="form-control">
                        <input type="text" id="itemweight" placeholder="น้ำหนัก" class="form-control">
                    </div>
                  
                </div>

             </form>
        </div>
    </div>
    <!-- <div id="bodyauction" >

    </div>
      -->
      

      </div>

   
    
</body>
</html>