<div class="vertical-nav mt-1" id="sidebar">
    <div class="vertical-menu">
        <ul class="nav flex-column mt-4">
            <img src="../public/img/befriend-web_icon.png" width="33%" height="35%" id="webicon">
            <h3 style="text-align: center;">BEFRIEND</h3>
            <hr style="color: black; size: 8px; width: 80%;">
            <li><a href="#" class="active"><span><img src="../public/img/mail.png" width="20px"></span> ข้อมูลคำขอ</span></a></li>
            <li><a href="#"><span> <img src="../public/img/project.png" width="20px"></span>
                    โครงการ</a></li>
            <li><a href="#"><span><img src="../public/img/auction.png" width="23px"></span> การประมูล</a></li>
            <li><a href="/auntion_organiz"><span><img src="../public/img/home.png" width="23px"></span>
                    การประมูลขององค์กร</a></li>
            <li><a href="#"><span><img src="../public/img/delivery-truck.png" width="23px"></span>
                    สถานะสินค้า</a></li>
            <li><a href="#"><span><img src="../public/img/logout.png" width="23px"></span>
                    ออกจากระบบ</a></li>
            <br><br><br>
            <hr style="color: black; size: 8px; width: 80%; vertical-align: end;">
            <li style="text-align: center;"><h4><span><img src="../public/img/user.png" width="50px"></span>
                Kun Run</h4></li>
        </ul>
    </div>
</div>


